In [10]:
#load packages
import pandas as pd 
from openpyxl import load_workbook

In [2]:
#load data and convert dates to datetime
rw = pd.read_csv("../Datasets/RW/RW_tail_numbers(cleaned).csv", encoding='latin-1', parse_dates=['dates'])

# Load xlsx dataset
RotaryWing = pd.ExcelFile("..//Datasets/RW/RotaryWing_021021_(modified).xlsx", engine='openpyxl')

# Extract "Data" sheet
RW_Only = RotaryWing.parse(2)

In [3]:
merged = RW_Only.merge(rw, left_on='TailNumber', right_on='tail_number', how='left')

In [16]:
# total amount of missing tail number 
print(merged.tail_number.isna().sum(), "out of", merged.TailNumber.nunique())

157 out of 1043

In [14]:
# in percents 
print(round(merged.tail_number.isna().sum()/merged.TailNumber.nunique() * 100,2), "% of tail numbers have no data in FlightAware")

15.05 % of tail numbers have no data in FlightAware

In [6]:
# indicate all missing tail numbers
absent_tails = merged[merged.tail_number.isna()].iloc[:,[1,7]].rename({'NAME_x':'NAME'}, axis=1)
absent_tails.head()

     TailNumber                                               NAME
0        N919SF  AIR ER LLC                                    ...
382      N108AE  AIR EVAC EMS INC                              ...
1266     N139AE  AIR EVAC EMS INC                              ...
1494     N229AE  AIR EVAC EMS INC                              ...
2042     N258AE  AIR EVAC EMS INC                              ...

In [13]:
# Write to the existing file
book = load_workbook('..//Datasets/RW/RW_stats.xlsx')
writer = pd.ExcelWriter('..//Datasets/RW/RW_stats.xlsx', engine='openpyxl')
writer.book = book

# Write each dataframe to a different worksheet.
absent_tails.to_excel(writer, sheet_name='absent_tails', index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()