In [2]:
#load packages
import pandas as pd
from openpyxl import load_workbook

In [3]:
#load data and convert dates to datetime
fw = pd.read_csv("../Datasets/FW/FW_tail_numbers(cleaned).csv", encoding='latin-1', parse_dates=['dates'])

# Load xlsx dataset
Fixed = pd.ExcelFile("..//Datasets/FW/FixedWing_021021_(modified).xlsx", engine='openpyxl')

# Extract "Data" sheet
FW = Fixed.parse(0)

In [4]:
merged = FW.merge(fw, left_on='Tail_number', right_on='tail_number', how='left')

In [9]:
# total amount of missing tail number 
print(merged.tail_number.isna().sum(), "out of", merged.Tail_number.nunique())

108 out of 210

In [10]:
# in percents 
print(round(merged.tail_number.isna().sum()/merged.Tail_number.nunique() * 100,2), "% of tail numbers have no data in FlightAware")

51.43 % of tail numbers have no data in FlightAware

In [7]:
# indicate all missing tail numbers
absent_tails = merged[merged.tail_number.isna()].iloc[:,[0,7]].rename({'NAME_x':'NAME'}, axis=1)
absent_tails.head()

    Tail_number                                               NAME
0        N231WM  A DAVTIAN MD MEDICAL SERVICES INC DBA         ...
159      N236AT  AIR AMBULANCE BY AIR TREK INC                 ...
160      N414RM  AIR AMBULANCE BY AIR TREK INC                 ...
161      N658AT  AIR AMBULANCE BY AIR TREK INC                 ...
162      N622AT  AIR AMBULANCE BY AIR TREK INC                 ...

In [8]:
# Write to the existing file
book = load_workbook('..//Datasets/FW/FW_stats.xlsx')
writer = pd.ExcelWriter('..//Datasets/FW/FW_stats.xlsx', engine='openpyxl')
writer.book = book

# Write each dataframe to a different worksheet.
absent_tails.to_excel(writer, sheet_name='absent_tails', index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()